<div class="is-flex width-breakpoint-768">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Select a city</mat-label>
    <mat-select
      [(value)]="selectedCity"
      (selectionChange)="selectCityOnChange($event)">
      <mat-option [value]="allCity">All Routes</mat-option>
      <mat-option *ngFor="let city of cityList" [value]="city">
        {{ city.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<form
  class="container is-flex is-flex-direction-column mb-2 width-breakpoint-768"
  [formGroup]="placeForm">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Place Name</mat-label>
    <input matInput type="text" formControlName="name" class="is-capitalized" />
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Place alias</mat-label>
    <mat-chip-grid
      #chipGrid
      aria-label="Enter aliases"
      formControlName="aliases">
      <mat-chip-row
        *ngFor="let alias of aliasControl.value"
        (removed)="removeKeyword(alias)">
        {{ alias }}
        <button matChipRemove aria-label="'remove ' + keyword">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      placeholder="New keyword..."
      [matChipInputFor]="chipGrid"
      (matChipInputTokenEnd)="add($event)" />
  </mat-form-field>
  <mat-slide-toggle class="mb-2" color="accent" formControlName="isActive">
    {{ placeForm.value.isActive ? 'Active' : 'Inactive' }}
  </mat-slide-toggle>
  <button
    type="button"
    mat-raised-button
    color="primary"
    [disabled]="!placeForm.valid"
    (click)="placeFormOnSubmit()">
    {{ isEditMode ? 'Update' : 'Add' }}
  </button>
</form>

<mat-divider class="width-breakpoint-768"></mat-divider>
<div class="list-container mt-2 width-breakpoint-768">
  <table mat-table [dataSource]="placeList">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Place</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="cityId">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.cityId.name }}</td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="rowOnClick(row)"
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="is-flex is-justify-content-space-around mt-4 width-breakpoint-768">
  <button
    mat-raised-button
    color="warn"
    class="uniform-button"
    [disabled]="!selectedPlace"
    (click)="deleteOnClick(selectedPlace)">
    Delete
  </button>
  <button
    mat-raised-button
    color="accent"
    class="uniform-button"
    (click)="navigateTo(selectedPlace)">
    Add Stops
  </button>
</div>
