.width-breakpoint-768 {
  @media (max-width: 767px) {
    max-width: 768px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @media (min-width: 768px) {
    width: 728px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
