<header class="hero">
  <div class="hero-body">
    <h1 clas="title">{{ title }}</h1>
  </div>
</header>
<main class="section is-flex">
  <form
    class="container is-flex is-flex-direction-column p-1 max-width-768"
    [formGroup]="cityForm"
    (submit)="cityFormOnSubmit()">
    <mat-form-field class="city-form-field" appearance="outline" color="accent">
      <mat-label>City Name</mat-label>
      <input matInput type="text" formControlName="cityName" />
      <button
        *ngIf="cityForm.value.cityName"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="cityForm.get('cityName')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="city-form-field" appearance="outline" color="accent">
      <mat-label>City ID</mat-label>
      <input matInput type="text" formControlName="cityId" />
      <button
        *ngIf="cityForm.value.cityId"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="cityForm.get('cityId')?.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-slide-toggle color="accent" formControlName="isActive">
      {{ cityForm.value.isActive ? 'Active' : 'Disabled' }}
    </mat-slide-toggle>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!cityForm.valid">
      Add
    </button>
  </form>
  <router-outlet></router-outlet>
</main>
