/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

html,
body {
  // height: 100%;
  min-height: 100svh;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: hsl(0, 0%, 14%);
  color: hsl(0, 0%, 85%);
}

.width-breakpoint-768 {
  width: clamp(256px, 100%, 768px);

  @media (max-width: 767px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @media (min-width: 768px) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.list-container {
  max-height: 45vh;
  max-height: 45svh;
  overflow: auto;
  border: 2px solid hsl(282, 68%, 38%);
  border-radius: 6px;
}

.uniform-button {
  width: 118px;
}
